<html>
<center>
<h2>Bienvenido a MEMOTEST</h2>
<form action="/crear_partida" method="post">
  <input type="submit" value="Iniciar Partida"/>  
</form>  

	<h2>Creado por </h2>
<p>
	<h2>Avantaggiato Mateo</h2>
<p>
	<h2>Yegro Juan Ignacio</h2>
</center>

</html>
