<html>

<h2>Cree una partida nueva</h2>
<form action="/jugando" method="post">
	<label for="cantPares" id="cantPares">cantPares</label>
	<input type="text" name="cantPares" id="cantPares">
  <input type="submit" value="OK"/>  
</form>  

</html>
