<html>

<body>
<h2>Hola</h2>
<!--
<form action="/jugando" method="post">
	<input type="text" name="opcion1" id="opcion1">
	<input text="text" name="opcion2" id="opcion2">
  <input type="submit" value="OK"/>  
</form>  
!-->
</body>

</html>
